<div id="popup-1" class="lightbox popup-box sign-popup">
  <div class="popup-box-holder">
    <header class="heading">
      <h3>STEP 1 of 3</h3>
      <a href="#" class="close" id="fancybox_close">close</a>
    </header>
    <%= I18n.t('user.create_old.notice')%>
  </div>
</div>