<!-- sub navigation -->
<nav class="sub-nav">
  <strong class="title">dating has never been this easy!</strong>
  <ul>
    <li><a href="#" class="item-1">Who’s available?</a></li>
    <li><a href="#" class="item-2">Chat</a></li>
    <li><a href="#" class="item-3">Make a date</a></li>
    <li><a href="#" class="item-4">Go out</a></li>
  </ul>
</nav>
<!-- content section -->
<article class="content-section">
  <div class="col-1">
    <h2>what’s the deal?</h2>
    <p>We know you're disappointed with dating sites today, we were too! Dating sites today are either too expensive, too restrictive, too judgemental and most recently too shallow! MyDateIsHere is changing all of that! We want to help everyone from all walks of life find love and friendship. Come join our new online community and take advantage of all of our great features today! It's Fun - Easy - Free!</p>
  </div>
  <div class="col-2">
    <h2>why use us?</h2>
    <div class="list-holder">
      <ul>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
      </ul>
      <ul>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
        <li>A line describing a feature</li>
      </ul>
    </div>
  </div>
</article>