-if current_user
  = render :partial => "layouts/friend_layout", :locals => {:partial_file => "home/privacy"}
- else
  #leftnav{:style => "width: 129px"}
    %p{:class=>"lefttopper"}
    %p{:class=>"leftbtm"}
  #rtcontent
    #toprtshdw
    = render :partial => "privacy"
    #btmrtshdw
  