<table width="100%">
  <tr>
    <td valign="top" colspan="2">
      <%= I18n.t('gift.label.message')%>
      <br/>
      <%= text_area_tag "message", params[:message], :cols => "35", :rows => "10" %>
    </td>
  </tr>
</table>

