<div id="popup-3" class="lightbox popup-box chat-popup">
  <div class="popup-box-holder">
    <header class="heading">
      <h3>new chats</h3>
      <a href="#" class="close" id="fancybox_close" title="close">close</a>
    </header>
    <% if @messages.empty? %>
      <div id="empty" align="center">
        No New chats
      </div>
    <% else %>
    <div id="more_new_chats">
      <%= render :partial => "ajax_new_chats" %>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  jQuery(function() {
    jQuery(window).scroll(
    function() {
      if (($(window).scrollTop() == $(document).height() - $(window).height()) && jQuery('#more_new_chats_page').val() > 0)
      {
        more_new_chats(jQuery('#more_new_chats_page').val())
      }
    });
  });
</script>
