<div id="left_menu_adds">
  <% if BASE_URL.include?("http://staging2.myroya.com")  %>
    <% if ['users'].include?(params[:controller]) and ['show'].include?(params[:action]) %>
    <% else %>
      <!-- BEGIN SMOWTION TAG - 168x28 - DO NOT MODIFY -->
      <script type="text/javascript"><!--
        smowtion_size = "168x28";
        smowtion_section = "2654142";
        //-->
      </script>
      <script type="text/javascript"
              src="http://ads.smowtion.com/ad.js?s=2654142&amp;z=168x28">
      </script>
      <!-- END SMOWTION TAG - 168x28 - DO NOT MODIFY -->
      <!-- BEGIN SMOWTION TAG - 160x600 - DO NOT MODIFY -->
      <script type="text/javascript"><!--
        smowtion_size = "160x600";
        smowtion_section = "2654142";
        //-->
      </script>
      <script type="text/javascript"
              src="http://ads.smowtion.com/ad.js?s=2654142&amp;z=160x600">
      </script>
      <!-- END SMOWTION TAG - 160x600 - DO NOT MODIFY -->


      <!-- BEGIN SMOWTION TAG - DO NOT MODIFY -->
      <script type="text/javascript"><!--
        smowtion_section = "2654142";
        smowtion_banned_pop_types = "29";
        smowtion_pop_frequency = "21600";
        smowtion_pop_times = "1";
        //-->
      </script>
      <script type="text/javascript"
              src="http://ads.smowtion.com/pop.js?s=2654142&amp;b=29&amp;f=21600&amp;t=1">
      </script>
      <!-- END SMOWTION TAG - DO NOT MODIFY -->
      
    <% end %>
  <% end %>
</div>
